bpelContent/external_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ExternalWsService" targetNamespace="http://ws.external.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.external.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.external.org/" version="1.0" xmlns:tns="http://ws.external.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="bc" type="tns:bc" />
<xs:element name="bcResponse" type="tns:bcResponse" />
<xs:element name="bf" type="tns:bf" />
<xs:element name="bfResponse" type="tns:bfResponse" />
<xs:element name="bl" type="tns:bl" />
<xs:element name="blResponse" type="tns:blResponse" />
<xs:element name="cf" type="tns:cf" />
<xs:element name="cfResponse" type="tns:cfResponse" />
<xs:element name="cheapF" type="tns:cheapF" />
<xs:element name="cheapFResponse" type="tns:cheapFResponse" />
<xs:element name="expF" type="tns:expF" />
<xs:element name="expFResponse" type="tns:expFResponse" />
<xs:element name="service_a" type="tns:service_a" />
<xs:element name="service_aResponse" type="tns:service_aResponse" />
<xs:element name="service_b" type="tns:service_b" />
<xs:element name="service_bResponse" type="tns:service_bResponse" />
<xs:element name="service_c" type="tns:service_c" />
<xs:element name="service_cResponse" type="tns:service_cResponse" />
<xs:complexType name="bc">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="bcResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="expF">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="expFResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="bl">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="blResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_a">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_aResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="bf">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="bfResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cheapF">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cheapFResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cf">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cfResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_c">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_cResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_b">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="service_bResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="service_a">
    <wsdl:part element="tns:service_a" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service_bResponse">
    <wsdl:part element="tns:service_bResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bcResponse">
    <wsdl:part element="tns:bcResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expF">
    <wsdl:part element="tns:expF" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bl">
    <wsdl:part element="tns:bl" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cheapF">
    <wsdl:part element="tns:cheapF" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bf">
    <wsdl:part element="tns:bf" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="blResponse">
    <wsdl:part element="tns:blResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expFResponse">
    <wsdl:part element="tns:expFResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service_c">
    <wsdl:part element="tns:service_c" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service_b">
    <wsdl:part element="tns:service_b" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bc">
    <wsdl:part element="tns:bc" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cheapFResponse">
    <wsdl:part element="tns:cheapFResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cf">
    <wsdl:part element="tns:cf" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cfResponse">
    <wsdl:part element="tns:cfResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service_aResponse">
    <wsdl:part element="tns:service_aResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bfResponse">
    <wsdl:part element="tns:bfResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service_cResponse">
    <wsdl:part element="tns:service_cResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExternalWs">
    <wsdl:operation name="bc">
      <wsdl:input message="tns:bc" name="bc">
    </wsdl:input>
      <wsdl:output message="tns:bcResponse" name="bcResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expF">
      <wsdl:input message="tns:expF" name="expF">
    </wsdl:input>
      <wsdl:output message="tns:expFResponse" name="expFResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bl">
      <wsdl:input message="tns:bl" name="bl">
    </wsdl:input>
      <wsdl:output message="tns:blResponse" name="blResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_a">
      <wsdl:input message="tns:service_a" name="service_a">
    </wsdl:input>
      <wsdl:output message="tns:service_aResponse" name="service_aResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bf">
      <wsdl:input message="tns:bf" name="bf">
    </wsdl:input>
      <wsdl:output message="tns:bfResponse" name="bfResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cheapF">
      <wsdl:input message="tns:cheapF" name="cheapF">
    </wsdl:input>
      <wsdl:output message="tns:cheapFResponse" name="cheapFResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cf">
      <wsdl:input message="tns:cf" name="cf">
    </wsdl:input>
      <wsdl:output message="tns:cfResponse" name="cfResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_c">
      <wsdl:input message="tns:service_c" name="service_c">
    </wsdl:input>
      <wsdl:output message="tns:service_cResponse" name="service_cResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_b">
      <wsdl:input message="tns:service_b" name="service_b">
    </wsdl:input>
      <wsdl:output message="tns:service_bResponse" name="service_bResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalWsServiceSoapBinding" type="tns:ExternalWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bc">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="bc">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="bcResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bl">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="bl">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="blResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expF">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="expF">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="expFResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bf">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="bf">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="bfResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_a">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="service_a">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="service_aResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cf">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cf">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cfResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cheapF">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cheapF">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cheapFResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_c">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="service_c">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="service_cResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="service_b">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="service_b">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="service_bResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalWsService">
    <wsdl:port binding="tns:ExternalWsServiceSoapBinding" name="ExternalWsPort">
      <soap:address location="http://localhost:8080/ws_external/external_ws" />
    </wsdl:port>
  </wsdl:service>
 
</wsdl:definitions>